<div ng-show="pageFullyLoaded">
    <div class="container-fluid bg-blue animated slideInDown">
        <div class="container pleftright0">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="mtop10 ptopbot10 text-white pleft15">Hi, {{currentUser.firstName}}!</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container mtop25 profile-page">
        <div class="row row-centered">

            <div class="col-md-5 col-sm-6 col-xs-12 col-centered text-left" ng-show="imageUploadStep">

                <h2 class="text-center text-blue">Let's get started!</h2>
                <p class="text-center">Please complete the following steps to launch your personly profile.</p>

                <div class="bg-white position-relative border-all border-light-gray rounded-corners overflow-hidden">
                    <div class="progress mbot0" style="height:5px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{onboardProgress}}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{onboardProgress}}%">
                        </div>
                    </div>
                    <div ng-show="!designUploadSuccess">
                        <form name="form" class="pad15 position-relative">
                            <div id="loading" ng-show="formLoading">
                                <div class="content">
                                    <img src="../images/loading/loading.svg" class="img-responsive" alt="">
                                    <p>Loading... Please wait</p>
                                </div>
                            </div>
                            <div class="alert alert-danger" ng-show="imageDataError">
                                {{imageDataError}}
                            </div>
                            
                            <div>
                                <img src="../images/profile/picture-default.jpg" class="img-responsive" alt="" ng-show="!imageUpload.file">
                                <img ngf-src="imageUpload.file" class="img-responsive" alt="" ng-show="imageUpload.file">
                            </div>
                            
                            <div class="form-group">
                                <label>Upload your profile image</label> <br>
                                <button class="btn btn-info" ngf-select ng-model="imageUpload.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-min-height="100">Select</button>
                                <div class="col-xs-12 mtop15" ng-show="progressPercentage !=0">
                                    <uib-progressbar max="max" value="progressPercentage"><span style="color:white; white-space:nowrap;">{{progressPercentage}}%</span></uib-progressbar>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Phone Number <span class="text-smaller text-thin">(optional)</span></label>
                                <input type="text" ng-model="imageUpload.phone" class="form-control" maxlength="20" placeholder="(XXX) XXX-XXXX" required-error-message="Phone number can only contain numbers" mask="(999) 999-9999">
                            </div>

                            <div class="form-group">
                                <label>Description</label>
                                <textarea style="max-width: 100%" rows="6" ng-model="imageUpload.description" class="form-control" validator="required" required-error-message="Required" placeholder="Write something about yourself...">
                                </textarea>
                            </div>

                            <div class="form-group">
                                <button validation-submit="form" ng-click="submitImage(imageUpload)" class="btn btn-primary pull-right">Next</button>
                            </div>

                        </form>
                    </div>
                </div>

            </div>


            <div class="col-md-5 col-sm-6 col-xs-12 col-centered text-left" ng-show="hobbiesStep">
                <h2 class="text-center text-blue">Tell us about your hobbies!</h2>
                <p class="text-center">This information is vital for your personly profile.</p>

                <div class="bg-white position-relative border-all border-light-gray rounded-corners overflow-hidden">
                    <div class="progress mbot0" style="height:5px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{onboardProgress}}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{onboardProgress}}%">
                        </div>
                    </div>

                    <div class="alert alert-danger margin10 mbot0" ng-show="hobbiesError">
                        {{hobbiesError}}
                    </div>

                    <form name="form" class="pad15 position-relative">
                        <div class="form-group animated" ng-hide="selectedHobbies.length == 5">
                            <input type="text" class="form-control" ng-model="customHobby" placeholder="Start typing what you like to do...">
                        </div>
                        
                        <div class="border-top border-bottom border-light-gray ptop5 mbot10" ng-show="selectedHobbies.length > 0">
                            <ul class="list-unstyled hobbies-list">
                                <li ng-repeat="hobby in selectedHobbies">
                                    <div class="btn-group">
                                        <a class="btn hobbies-btn-selected">{{hobby}}</a>
                                        <a class="btn hobbies-btn-selected hobbies-remove-btn pleft0 pright3" ng-click="removeHobby(hobby)"><span class="fa fa-close"></span></a>
                                    </div>
                                </li>
                            </ul>

                            <div class="text-center mtopbot10">
                                <a ng-click="submitHobbies()" class="btn btn-primary">Submit</a>
                            </div>

                        </div>
                        

                        <ul class="list-unstyled hobbies-list" ng-class="{'opacity-50':selectedHobbies.length == 5}">
                            <li ng-show="customHobby">
                                <a ng-click="selectHobby(customHobby, true)" class="btn hobbies-btn">{{customHobby}}</a>
                            </li>
                            <li ng-repeat="hobby in hobbies | filter:customHobby">
                                <a ng-click="selectHobby(hobby)" class="btn hobbies-btn" ng-class="{'disabled':selectedHobbies.length == 5}">{{hobby}}</a>
                            </li>
                        </ul>

                    </form>

                </div>
            </div>

            <div class="col-md-5 col-sm-6 col-xs-12 col-centered text-left" ng-show="interestsStep">
                <h2 class="text-center text-blue">Tell us about your interests!</h2>
                <p class="text-center">This information is vital for your personly profile.</p>

                <div class="bg-white position-relative border-all border-light-gray rounded-corners overflow-hidden">
                    <div class="progress mbot0" style="height:5px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{onboardProgress}}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{onboardProgress}}%">
                        </div>
                    </div>

                    <div class="alert alert-danger margin10 mbot0" ng-show="interestsError">
                        {{interestsError}}
                    </div>

                    <form name="form" class="pad15 position-relative">
                        <div class="form-group animated" ng-hide="selectedInterests.length == 5">
                            <input type="text" class="form-control" ng-model="customInterest" placeholder="Start typing what you like to do...">
                        </div>

                        <div class="border-top border-bottom border-light-gray ptop5 mbot10" ng-show="selectedInterests.length > 0">
                            <ul class="list-unstyled interests-list">
                                <li ng-repeat="interest in selectedInterests">
                                    <div class="btn-group">
                                        <a class="btn interests-btn-selected disabled">{{interest}}</a>
                                        <a class="btn interests-btn-selected interests-remove-btn pleft0 pright3" ng-click="removeInterest(interest)"><span class="fa fa-close"></span></a>
                                    </div>
                                </li>
                            </ul>

                            <div class="text-center mtopbot10">
                                <a ng-click="submitInterests()" class="btn btn-primary">Submit</a>
                            </div>

                        </div>


                        <ul class="list-unstyled interests-list" ng-class="{'opacity-50':selectedInterests.length == 5}">
                            <li ng-show="customInterest">
                                <a ng-click="selectInterest(customInterest, true)" class="btn interests-btn">{{customInterest}}</a>
                            </li>
                            <li ng-repeat="interest in interests | filter:customInterest">
                                <a ng-click="selectInterest(interest)" class="btn interests-btn" ng-class="{'disabled':selectedInterests.length == 5}">{{interest}}</a>
                            </li>
                        </ul>

                    </form>

                </div>
            </div>


            <div class="col-md-5 col-sm-6 col-xs-12 col-centered text-left" ng-show="usernameStep">
                <h2 class="text-center text-blue">Choose your personal username!</h2>
                <p class="text-center">This information is vital for your personly profile.</p>

                <div class="bg-white position-relative border-all border-light-gray rounded-corners overflow-hidden">
                    <div id="loading" ng-show="saveUsernameLoading">
                        <div class="content">
                            <img src="../images/loading/loading.svg" class="img-responsive" alt="">
                            <p>Loading... Please wait</p>
                        </div>
                    </div>
                    <div class="progress mbot0" style="height:5px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{onboardProgress}}"
                             aria-valuemin="0" aria-valuemax="100" style="width:{{onboardProgress}}%">
                        </div>
                    </div>

                    <form name="form" class="pad15 position-relative">
                        <div class="form-group animated">
                            <input type="text" class="form-control" ng-model="username" placeholder="Choose your personalize username" ng-change="checkUsername()">
                        </div>
                        <div class="form-group text-center border-bottom border-light-gray pbot15">
                            <a ng-click="saveUsername()" class="btn btn-primary" ng-class="{'disabled':!userAvailable}">Get It</a>
                        </div>

                        <p class="text-regular text-center text-medium-smaller mbot0 text-success" ng-show="userAvailable">
                            Woohoo! This username is available.
                        </p>
                        <p class="text-regular text-center text-medium-smaller mbot0 text-danger" ng-show="userNotAvailable">
                            Bummer! This username is already taken.
                        </p>

                        <p class="text-regular text-lg text-center">
                            https://www.personly.me/<span class="text-super-bold" ng-class="{'text-success':userAvailable,'text-danger':!userNotAvailable}">{{usernameShow || 'your-name'}}</span>
                        </p>

                    </form>

                </div>
            </div>








        </div>
    </div>
</div>


<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>

<!--
<div class="bg-white position-relative border-all border-light-gray rounded-corners overflow-hidden">
    <div ng-show="designUploadSuccess">
        <div class="col-sm-12">
            <h3 class="text-center">
                {{designUploadSuccessMsg}}
            </h3>
        </div>

        <div class="col-xs-4">
            <img ng-src="https://res.cloudinary.com/personly-me/image/upload/{{uploadedDesign.images[0].version}}/{{uploadedDesign.images[0].fileName}}" alt="{{uploadedDesign.name}}" class="img-responsive img-thumbnail">
        </div>
        <div class="col-xs-8">
            <h4>{{uploadedDesign.name}}</h4>
            <p>{{uploadedDesign.description}}</p>
        </div>
    </div>

    <div ng-show="!designUploadSuccess">
        <div class="bg-pink pad15">
            <h3 class="mtopbot0 text-white">Add Design</h3>
        </div>

        <form name="form" class="pad15 position-relative">
            <div id="loading" ng-show="formLoading">
                <div class="content">
                    <img src="../images/loading/loading.svg" class="img-responsive" alt="">
                    <p>Loading... Please wait</p>
                </div>
            </div>
            <div class="alert alert-danger" ng-show="designError">
                {{designError}}
            </div>
            <div class="form-group">
                <label>Upload your design file</label> <br>
                <div class="row">
                    <div class="col-xs-6">
                        <button class="btn btn-info" ngf-select ng-model="design.file" name="file" ngf-pattern="'image/*'"
                                ngf-accept="'image/*'" ngf-min-height="100">Select</button>
                    </div>
                    <div class="col-xs-6">
                        <img ngf-src="design.file" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-xs-12 mtop15" ng-show="progressPercentage !=0">
                        <uib-progressbar max="max" value="progressPercentage"><span style="color:white; white-space:nowrap;">{{progressPercentage}}%</span></uib-progressbar>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Design Name</label>
                <input type="text" ng-model="design.name" class="form-control">
            </div>

            <div class="form-group">
                <label>Tags
                    <i class="fa fa-question-circle text-gray" data-toggle="tooltip" data-title="Add tags separate by commas" data-placement="top"></i>
                </label>
                <input type="text" ng-model="design.tags" class="form-control">
            </div>

            <div class="form-group">
                <label>Description</label>
                                <textarea type="text" ng-model="design.description" class="form-control">
                                </textarea>
            </div>

            <div class="form-group">
                <a ng-click="submitDesign(design)" class="btn btn-primary">Submit Design</a>
            </div>

        </form>
    </div>
</div>-->
